<ion-content fullscreen>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="close()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="guide()">
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-map
    [aria]="aria"
    [place]="place"
  ></app-map>
  <button
    mat-button
    type="button"
    aria-label="regist" 
    (click)="regist()">
    <mat-icon>done</mat-icon>
    regist
  </button>
  <app-search-result></app-search-result>
</ion-content>
