<ion-content fullscreen>
  <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <form #ariaForm="ngForm" class="form">
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="title"
        [(ngModel)]="aria.title"
        name="title"
        required
        #title="ngModel"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="aria"
        [(ngModel)]="aria.ariaName"
        name="ariaName"
        required
        #ariaName="ngModel"
      />
    </mat-form-field>
    <button
      mat-button
      type="button"
      (click)="regist()"
      [disabled]="ariaForm.invalid"
      aria-label="registAria"
    >
      <mat-icon>done</mat-icon>
      regist
    </button>
  </form>
</ion-content>