<form #placeSearchForm="ngForm" class="form">
  <mat-form-field>
    <mat-label>PlaceType</mat-label>
    <mat-select [(value)]="placeSelected">
      <mat-option *ngFor="let option of placeOptions" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>PriceLevel</mat-label>
    <mat-select [(value)]="priceSelected">
      <mat-option *ngFor="let option of priceOptions" [value]="option">
        {{ option.level }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="place search"
      [(ngModel)]="placeText"
      name="place"
      required
      #place="ngModel"
    />
  </mat-form-field>
  <button
    mat-button
    type="button"
    (click)="search()"
    [disabled]="placeSearchForm.invalid"
    aria-label="search"
  >
    <mat-icon>search</mat-icon>
    search
  </button>
</form>
<div #mapWrapper id="map"></div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let result of results">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ result.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>rating: {{ result.rating }}</p>
    <p>reviews: {{ result.reviews }}</p>
  </mat-expansion-panel>
</mat-accordion>
