<form #placeSearchForm="ngForm" class="form">
  <mat-form-field>
    <mat-label>PlaceType</mat-label>
    <mat-select [(value)]="placeSelected">
      <mat-option *ngFor="let option of placeOptions" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="place search"
      [(ngModel)]="placeText"
      name="place"
      required
      #place="ngModel"
    />
  </mat-form-field>
  <button
    mat-button
    type="button"
    (click)="search()"
    [disabled]="placeSearchForm.invalid"
    aria-label="search"
  >
    <mat-icon>search</mat-icon>
    search
  </button>
</form>
<google-map height="400px"
  width="750px"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="onMapClick($event)"
  (mapMousemove)="move($event)"
  (mapRightclick)="removeLastMarker()">
  <map-marker #marker
    *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition"
    [options]="markerOptions"
    (mapClick)="openInfoWindow(marker)">
  </map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>
