<google-map height="400px"
  width="750px"
  [center]="center"
  [zoom]="zoom">
  <map-marker #marker
    *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition"
    [options]="markerOptions">
  </map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>
<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="close()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list *ngFor="let place of selectedPlaceList; index as i">
    <ion-item>
      <ion-label>
        No: {{ i + 1 }}
      </ion-label>
      <ion-label>
        place: {{ place.place }}
      </ion-label>
      <ion-label>
        rating: {{ place.rating }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>