<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matPrefix>filter_list</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        filter
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-search-prefecture
      [prefectures]="prefectures"
      (selectAria)="selected($event)">
    </app-search-prefecture>
    <app-select-group
      [place]="placeSearchCondition"
    ></app-select-group>
    <app-select-category [place]="placeSearchCondition"></app-select-category>
    <app-business-hours [place]="placeSearchCondition"></app-business-hours>
    <mat-checkbox [(ngModel)]="placeSearchCondition.went">went</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>
